<body>

  <header class="vcard">
    <h1 class="fn">Carlos Eduardo Eigenmann</h1>
    <h2 class="role">Fullstack Developer</h2>
    <ul class="contact">
      <li class="email">edu.eigenmann@gmail.com</li>
      <li class="tel">(11) 99632-3061</li>
      <li class="adr"><span>Jundiaí - SP</span>, <span>Brazil</span></li>
      <li class="adr"><span>Cidadanias: Suíça/Brasileira</span></li>
    </ul>
  </header>

  <section id="summary">
    <h1>Resumo de Qualificações</h1>
    <p>Experiência em criação de rotinas e procedimentos para minimizar impactos.
      Manutenção de sistemas Web nas linguagens Java Web, SpringBoot, REST com Jersey,
      JSP, Angular 2, ASP 3.0, JavaScript, JQuery, HTML, CSS e Banco de Dados Oracle/SQL.</p>
    <p>Análise e Desenvolvimento de sistema, levantamento de requisitos, melhorias de
      performance, novos módulos para melhoria de controle da garantia dos produtos e
      couching com o cliente.</p>
    <p>Atuação direta no levantamento de requisitos, orçamentação e modelagem, bem como,
      na homologação de projetos junto ao Cliente.</p>
  </section>

  <section id="skills">
    <h1>Skills</h1>
    <dl>
      <dt>Front-End</dt>
      <dd title="AngularCli">Angular</dd>
      <dd title="Hyper Text Markup Language">HTML5</dd>
      <dd title="Cascading Style Sheets">CSS3</dd>
      <dd title="Front-end programming language">JavaScript</dd>
      <dd title="Javascript Library">jQuery</dd>
      
      <dt>Back-end</dt>
      <dd title="Java">Java</dd>
      <dd title="Framework: SpringBoot">SpringBoot</dd>      
      <dd title="Framework: REST">REST</dd>
      <dd title="ASP 3.0">ASP 3.0</dd>

      <dt>Outros</dt>
      <dd title="TFS">TFS</dd>
      <dd title="GIT">GIT</dd>
      <dd title="Sql">Sql</dd>
      <dd title="Oracle">Oracle</dd>
    </dl>
  </section>

  <section id="experience">
    <h1>Experiência</h1>
    <article>
      <h1><span>Logus Retail Ltda - Sistemas de Controle de Gestão ERP</span></h1>
      <h1><span>Analista Programador</span></h1>
      <h2>Fullstack</h2>
      <time datetime="04/2018" class="start">Abril/2018</time>
      <span class="end">Atualmente</span>
      <p>
        Análise, Desenvolvimento, Testes Unitários, manutenção e orçamentação de demandas.<br>
        Atuação na equipe de Novos Projetos.<br>
        Metodologia Scrum.<br>
        Tecnologias: Java, SpringBoot, HTML, Angular 2 e MySQL.
      </p>
    </article>
    <article>
      <h1><span>GRUPO VICERI - Tecnologia da informação e serviços</span></h1>
      <h1><span>Analista Programador</span></h1>
      <h2>Fullstack</h2>
      <time datetime="04/2014" class="start">Abril/2014</time>
      <span class="end">Abril/2018</span>
      <p>
        Análise, Desenvolvimento, manutenção e orçamentação de demandas diretamente relacionadas ao mercado de seguros.<br>
        Atuação na equipe de Novos Projetos.<br>
        Metodologia Scrum.<br>
        Tecnologias: Java, Spring MVC, Rest, HTML, JavaScript, JQuery, CSS, Angular 2 e Oracle.
      </p>
    </article>
    <article>
      <h1><span>Columbia Trading SA</span></h1>
      <h1><span>Analista Programador</span></h1>
      <h2>Fullstack</h2>
      <time datetime="08/2011" class="start">Agosto/2011</time>
      <span class="end">Setembro/2013</span>
      <p>
        Proposta e orçamentação de projetos e demandas internas.<br>
        Implantação de projetos, acompanhamento e testes unitários para liberação para o cliente.<br>
        Atuação no desenvolvimento de projetos de integração do sistema ERP para sistema WEB.<br>
        Tecnologias: SuperBase
      </p>
    </article>
    <article>
      <h1><span>LHuber Distribuidora de Acessórios Automotivos Ltda</span></h1>
      <h1><span>Analista Programador</span></h1>
      <h2>Fullstack</h2>
      <time datetime="01/2009" class="start">Janeiro/2009</time>
      <span class="end">Agosto/2011</span>
      <p>
        Migração de sistema para nova plataforma.<br>
        Desenvolvimento, melhorias, suporte, acompanhamento, assegurando a conformidade e funcionalidade dos processos.<br>
        Manutenção para auxiliar e garantir e agilizar processos que não são atendidos pelo sistema
principal ou pelo próprio operador do sistema.<br>        
        Tecnologias: SuperBase
      </p>
    </article>
  </section>

  <section id="education">
    <h1>FORMAÇÃO ACADÊMICA</h1>
    <h2>Universidade Padre Anchieta</h2>
    <p>Bacharel em Sistemas de Informação – Conclusão em 2011</p>
  </section>

</body>